<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Messages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form th:action="@{/admin/home}" method="get">
        <button class="btn btn-md btn-warning btn-block" name="registration"
                type="Submit">Home
        </button>
    </form>
    
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
             <form autocomplete="off" action="#" th:action="@{/admin/message}"
                  th:object="${message}" method="post" class="form-horizontal"
                  role="form">
                <h2>New Message</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{id}" placeholder="Id"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{content}"
                               placeholder="Content" class="form-control"/>
                    </div>
                </div>
 
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Add message</button>
                    </div>
                </div>
       			<input type="hidden" th:field="*{other}" class="hidden-primary"/> <br/>
        		<script src="/js/collector.min.js"></script>
            </form>
        </div>
    </div>
</div>
 
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>
</body>
</html>
