    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' id='css-0-css' th:href="@{/css/a.css}" type='text/css' media='all' />
    <link rel='stylesheet' id='css-1-css' th:href="@{/css/b.css}" type='text/css' media='' />
    <link rel='stylesheet' id='css-2-css' th:href="@{/css/c.css}" type='text/css' media='all' />
    <link rel='stylesheet' id='css-3-css' th:href="@{/css/d.css}" type='text/css' media='' />
    <style>
		.report p{
			padding: 0px;
			margin: 0px;
			text-align: center;
		}
	</style>
