<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Successful</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' id='css-0-css' th:href="@{/css/a.css}" type='text/css' media='all' />
    <link rel='stylesheet' id='css-1-css' th:href="@{/css/b.css}" type='text/css' media='' />
    <link rel='stylesheet' id='css-2-css' th:href="@{/css/c.css}" type='text/css' media='all' />
    <link rel='stylesheet' id='css-3-css' th:href="@{/css/d.css}" type='text/css' media='' />
</head>
<body>
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To BehavioSec Login Page</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

		    <div class="panel-group" style="margin-top:40px">
		        <div class="panel panel-primary">
		            <div class="panel-heading">
		                <span th:utext="${userName}"></span>
		            </div>
		            <div class="panel-body">
		            <img th:src="${qrurl}"class="img-responsive center-block" width="200" height="200"
		                     alt="QRUrl"/>
		             </div>
		            <p class="admin-message-text text-center" th:utext="${successMessage}"></p>
		        </div>
		    </div>


        </div>
    </div>
</div>

</body>
</html>