<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Enhanced Authentication</title>
</head>
<body>
	<div th:replace="fragments/header"></div>
	<form th:action="@{/logout}" method="get" width="300" height="300"
		action="">
		<button class="btn btn-md btn-danger btn-block" name="registration"
			type="Submit">Logout</button>
	</form>
	<div th:replace="fragments/menu"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Welcome</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel-group" style="margin-top: 40px">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<span th:utext="${userName}"></span>
						</div>

						<div class="report" >
							<p th:utext="${adminMessage}"></p>
							<ul>

						<li th:utext="${score}"></li>
						<!--   <li th:utext="${risk}"></li>
						<li th:utext="${deviceChange}"></li>
						<li th:utext="${ipChange}"></li>
						<li th:utext="${bot}"></li>
						<li th:utext="${replay}"></li>
						<li th:utext="${remoteAccess}"></li> -->
						<li th:utext="${isTrained}"></li>
							</ul>
					</div>
					</div>
					
					
<form th:action="@{/home/loginOTP}" th:object="${OTPModel}"
			method="POST" class="form-signin" action="">
			<h3 class="form-signin-heading" th:text="${message}"></h3>
			<br />
			<h3 class="form-signin-heading" th:text="${message2}"></h3>
			<br />
			<h3 class="form-signin-heading" th:text="${message3}"></h3>
			<br /> <input type="password" th:placeholder="${googleauth}"
				th:field="*{otpValue}" class="form-control" /> <br />

			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">OTP invalid, please
					verify</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit"
				value="Login" type="Submit" th:text="Confirm"></button>
				       			<input type="hidden" id="other" name="other" class="hidden-primary"/>
				       			<input type="hidden"th:field="*{type}" class="hidden-primary"/>
				       			 <br/>
        <script src="/js/collector.min.js"></script>
				
		</form>				
		
		</div>
			</div>
		</div>

	</div>


</body>
</html>